# USAGE: python sera/main.py --config-name config_specialize_personal stage=pipeline name=test

# TODO: Move as much as can to defaults so this can be as slim as possible

defaults:
  - sera
  - _self_

name: specialize_personal

generate:
  fns_per_repo: 5000
  insts_per_fn: 1
  personal_repos:
    - org_name: OpenHands
      last_name: OpenHands
      commits: 
        - 29b77be807e0e6aab380d953c0d79a166df4f0cc
        - cc8b677f3ec324fb7b9de86229f727b25741a66c
      install_cmds: 
        - "pip install -e ."
      test_cmd: null
      python_version: 3.12
      top_level_folder:
        - openhands
    - org_name: R2E-Gym
      last_name: R2E-Gym
      install_cmds: 
        - "pip install -e ."
      n_commits: 1 # How many commits to find in the last 365 days
      # NOTE: You can leave top_level_folder blank for your specific repository and 
      # we will try to automatically identify it, throwing an error on failure

      # NOTE: If commits aren't specified, we automatically "lookback" for 365 days and choose
      # five equally spaced commits in that time frame to create containers on. This can be overriden with
      # n_commits.

distill:
  model:
      name: anthropic/claude-sonnet-4-20250514 # or openai/OPENAI_MODEL_NAME
      url: null # <-- LEAVE EMPTY
  sweagent_wrapper_config:
    num_workers: 24

postprocess:
  tool_call_format: hermes
  add_think: false
  add_train_key: true
  enforce_submit: true
  reformat_assistant_message: keep_only_think

eval:
  compare_patch_threshold: 0.5